.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.link {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    color: black;

}

.link.active {
    border-bottom: 3px solid red;
}

.link:hover {
    border-bottom: 3px solid red;
}
